*{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    margin: 0%;
    background-color: white;
}

.button{
    background: transparent;
    border: none;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    width: min-content;
    height: min-content;
    padding: 0%;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 10vh 80vh 10vh;
}

.icon{
    width: 40px;
    height: auto;
}

.header{
    display: grid;
    grid-row: 1 / span 1;
    background-color: rgb(227, 227, 227);
}

.header_container{
    display: grid;
    width: 100vw;
    height: 10vh;
    grid-template-rows: 10vh;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}

.profile_button{
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    justify-self: center;
    align-self: center;
}

.profile_icon{
    width: 60px;
    height: auto;
}

.body{
    display: grid;
    grid-row: 2 / span 1;
    background-color: white;
}

.body_container{
    display: grid;
    width: 100vw;
    height: 80vh;
    grid-template-rows: 40vh 30vh 10vh;
}

.edit_details{
    display: grid;
    width: 100vw;
    height: 40vh;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 10vh 10vh 10vh 10vh;
}

.info{
    align-self: center;
    margin-left: 6.7%;
}

.saved_data{
    display: grid;
    height: 30vh;
    grid-template-rows: 15vh 15vh;
}

.recipe_icon{
    width: 60px;
    height: auto;
}

.map_icon{
    width: 40px;
    height: auto;
}

.ingredients_icon{
    width: 60px;
    height: auto;
}

.footer{
    display: grid;
    grid-row: 3 / span 1;
    background-color: rgb(227, 227, 227);
}


.footer-container{
    display: grid;
    width: 100vw;
    height: 10vh;
    grid-template-columns: 33.5vw 33vw 33.5vw;
    grid-template-rows: 10vh;
}

.recipe_button{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.map_button{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.ingredients_button{
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.main{
    grid-row: 2 / span 1;
    overflow-y: auto;
}



/* CSS for savedRecipes.html */

.recipe_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 30px;
}

.recipe_card {
    aspect-ratio: 1 / 1;
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}


/* CSS for savedLocations.html */
.location_card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(158, 158, 158);
    margin: 20px;
    padding: 10px;
}

/* For mobile */
 @media screen and (max-width: 600px)
{
    .container{
        display: grid;
        height: 100vh;
        grid-template-rows: 10vh 80vh 10vh;
    }

    .icon{
        width: 40px;
        height: auto;
    }

    .header{
        display: grid;
        grid-row: 1 / span 1;
        background-color: rgb(227, 227, 227);
    }

    .header_container{
        display: grid;
        width: 100vw;
        height: 10vh;
        grid-template-rows: 10vh;
        grid-template-columns: 25vw 25vw 25vw 25vw;
    }

    .profile_button{
        grid-row: 1 / span 1;
        grid-column: 4 / span 1;
        justify-self: center;
        align-self: center;
    }

    .profile_icon{
        width: 60px;
        height: auto;
    }

    .recipe_icon{
        width: 60px;
        height: auto;
    }

    .map_icon{
        width: 40px;
        height: auto;
    }

    .ingredients_icon{
        width: 60px;
        height: auto;
    }

    .footer{
        display: grid;
        grid-row: 3 / span 1;
        background-color: rgb(227, 227, 227);
    }


    .footer-container{
        display: grid;
        width: 100vw;
        height: 10vh;
        grid-template-columns: 33.5vw 33vw 33.5vw;
        grid-template-rows: 10vh;
    }

    .recipe_button{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .map_button{
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .ingredients_button{
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
    }
}